# shellcheck disable=SC2148
# shellcheck disable=SC1090

export KEYID=FF7AD31CAAC74797
export EMAIL={{.email}}
export EDITOR=nvim
export SHELOB_HOME="$HOME/.local/share/shelob"
export FZF_DEFAULT_COMMAND='rg --smart-case --hidden -g '!.git' --files'

### PATH
if [[ -d "/opt/homebrew" ]]; then
	export PATH="/opt/homebrew/bin:$PATH"
fi

export QT_QPA_PLATFORM="xcb"

export PATH="$HOME/.cargo/bin:$PATH"
export PATH="$HOME/.local/bin:$PATH"
export PATH="$HOME/.local/share/nvim/mason/bin:$PATH"
export PATH="$HOME/.local/bin/scripts:$PATH"
{{- if eq .chezmoi.os "darwin" }}
export PINETRY_PROGRAM="/opt/homebrew/bin/pinentry"
{{ else }}
export PINETRY_PROGRAM="/usr/bin/pinentry-curses"
{{- end }}

### NVM
if [[ $CHEZMOI_OS == "darwin" ]]; then
  source "/opt/homebrew/opt/nvm/nvm.sh"
else
  source "/usr/share/nvm/init-nvm.sh"
fi

{{- /*  Add os specific env */ -}}
{{- range $_, $osenv := (glob (joinPath .osDir .chezmoi.os "env")) -}}
{{- include $osenv -}} 
{{- end }}

{{- /*  Add orgs scripts folder to path */ -}}
{{- range $_, $orgscript := (glob (joinPath .projectsDir "*/org/scripts")) }}
export PATH="{{$orgscript}}:$PATH"
{{- end }}

# Add current dir to path
export PATH="$PATH:."

# # GPG
# export GPG_TTY="$(tty)"
# export SSH_AUTH_SOCK=$(gpgconf --list-dirs agent-ssh-socket)
# gpg-connect-agent updatestartuptty /bye > /dev/null
# gpgconf --launch gpg-agent

if [[ -e ~/.bitwarden ]]; then source ~/.bitwarden; fi
