{{- $source := .chezmoi.sourceDir -}}
{{ range $_, $config := (glob (joinPath .projectsDir "*/org/mrconfig")) -}}
  {{ joinPath "~" (trimPrefix $source $config) | replace "org/mrconfig" ".mrconfig" }}
{{ end -}}
