# For more information see the documentation at https://sioyek-documentation.readthedocs.io/

# (can be 0 or 1) if set, shows a notification on startup if a new version of sioyek is available
check_for_updates_on_startup	0

# Urls to use when executing external_search commands
search_url_s	https://scholar.google.com/scholar?q=
search_url_l	http://gen.lib.rus.ec/scimag/?q=
search_url_g	https://www.google.com/search?q=
search_url_d	https://www.duckduckgo.com/search?q=

# If 0, Table of Contents is shown in a hierarchial tree, otherwise it is a flat list (can improve performance for extremely large table of contents)
flat_toc 0

ruler_mode 1

# Use dark mode by default (deprecated, better add `toggle_dark_mode` to `startup_commands` )
default_dark_mode	0


{{ if eq .chezmoi.os "darwin" }}
shared_database_path    /Library/CloudStorage/Dropbox/Sioyek/shared.db
{{ else }}
shared_database_path    Dropbox/Sioyek/shared.db
{{ end }}

## Name of the font to use for UI text
#ui_font Some Font Name
## Size of the UI font
#font_size 20

## Semicolon-separated list of command to execute upon sioyek startup
#startup_commands    toggle_visual_scroll;toggle_dark_mode

